
<h2>Main Page</h2>
<p>Here is some text.</p>
<p>Here is a <a href='/'>link</a>.</p>

<div>
  <h1>Sinatra Start</h1>
  <div>
    <ol>
      <% @users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ol>
  </div>
</div>
